---
import BaseLayout from '@layouts/BaseLayout.astro';

interface Frontmatter {
    title: string;
    pubDate?: Date;
    description: string;
    author: string;
    image: {
        url: string;
        alt: string;
    };
    tags: string[];
}
const allPosts = await Astro.glob<Frontmatter>('./posts/*.md');

import '../base.css';
import { postcss } from 'tailwindcss';
const pageTitle = 'My Astro Learning Blog';
//${import.meta.env.BASE_URL}
/*
<li>
            <a href=`${import.meta.env.BASE_URL}posts/post-3/`>Post 3</a>
        </li>
*/
---

<BaseLayout pageTitle={pageTitle}>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        {
            allPosts.map((post) => (
                <li>
                    <a href={`${post.url}`}>{post.frontmatter.title}</a>
                </li>
            ))
        }
    </ul>
</BaseLayout>
