---
import Header from '../components/Header.astro';
import Heading from '../components/Heading';
import Footer from '../components/Footer.astro';

interface Props {
    pageTitle?: string;
}
const { pageTitle = 'Welcome to Astro' } = Astro.props;

import '../base.css';
console.log(`${Astro.site?.origin}/astro-test/rss.xml`);
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link
            rel="icon"
            type="image/svg+xml"
            href=`${import.meta.env.BASE_URL}favicon.svg`
        />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="Your Site's Title"
            href={`${Astro.site?.origin}/astro-test/rss.xml`}
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body
        class="bg-teal-50 text-slate-900 dark:bg-slate-900 dark:text-slate-200"
    >
        <Header />
        <Heading level={1}>{pageTitle}</Heading>
        <slot />
        <Footer />
        <script>
            import '../scripts/menu.js';
        </script>
    </body>
</html>
