---
import { formatDate } from '@/scripts/utils';

import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <div class="mb-4">
        <p class="flex gap-2 flex-wrap">
            Tags: {
                frontmatter.tags.map((tag: string) => (
                    <a
                        href={`${import.meta.env.BASE_URL}tags/${tag}/`}
                        class=" text-nowrap"
                    >
                        {tag}
                    </a>
                ))
            }
        </p>
        <p>Written by {frontmatter.author}</p>
        <p>
            Published on: {formatDate(frontmatter.pubDate.toISOString())}
        </p>
        <p><em>{frontmatter.description}</em></p>
        <img
            src={frontmatter.image.url}
            width="300"
            alt={frontmatter.image.alt}
            class="invert"
        />
    </div>
    <slot />
</BaseLayout>
